.ay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.on {
    background-color: rgb(95, 0, 184);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 33/5;
    margin-bottom: 5px;
}

.textinput {

    border: solid 1px gray;
    border-radius: 5px;
    height: 37%;
    width: 89%;



}

/* .buttoncart {
    width: 25%;
    background-color: #f2f2f2;
    border-radius: 11px;
    text-align: center;
} */

/* background-color: red; */


.divinput {
    width: 64%;
    /* border: solid 1px gray; */
    aspect-ratio: 6/2;

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 5px 7px 0px #888888;
    margin-bottom: 20px;
}

.button {
    /* width: 18%; */
    width: 39%;
    background-color: rgb(95, 0, 184);
    color: white;
    font-size: 12px;
    border: none;
    /* height: 27%; */

    height: 96%;
}


.search {
    width: 40%;
    background-color: rgb(95, 0, 184);
    color: white;
    font-size: 12px;
    border: none;
    /* height: 27%; */

    height: 96%;
    position: relative;
    left: 2%;
    /* top: -27% */
    /* margin-top: 10px; */
}

.item {
    margin-bottom: 8px;
    /* border: solid 1px; */
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.hidebutton {
    background-color: white;
    border: none;

}

.hidebutton:hover {
    /* border: solid 1px gray; */
    cursor: grab
}

.iconcheck {}

.title_item {
    width: 80%;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}