.border {
  /* border: solid 1px black; */
  width: 100%;
  aspect-ratio: 29/2;
  display: flex;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.8s;

  background-color: white;



}

.border2 {
  /* border: solid 1px black; */
  width: 100%;
  aspect-ratio: 29/2;
  display: flex;

  background-color: white;
  opacity: 0.94;
  /* opacity: 0; */
  position: fixed;
  /* transition: opacity 0.8s; */
  z-index: 1;
  animation: fade-in-move-down 0.7s;

  box-shadow: 0px -6px 19px 0px #888888;
}

/* 
.border2 {
  animation: fade-in-move-down 0.7s;
} */

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.line {
  width: 0;
  border-bottom: solid 1px black;

  /* cursor: pointer; */

  transition: width 2s;
}

.line:hover {
  /* opacity: 0.2; */
  /* text-decoration: underline; */
  /* transform: scaleX(0); */
  /* transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%; */
  cursor: pointer;
  border-bottom: solid 1px black;
  width: 40px;
  /* border-bottom-width: 10px; */
  /* transition-property: opacity, width;
    transition-duration: 4s, 2s; */

  /* transform: scaleX(1); */


}

/* .page-link {
    color: #666;
    display: inline-block;
    // min-width: 60px;
    text-align: center;
  
    &::after {
      display: block;
      content: '';
      border-bottom: solid 3px #019fb6;
      transform: scaleX(0); //scaleX: biến đổi tỉ lệ theo trục x 
      transition: transform 250ms ease-in-out;  // ease-in-out : chỉ định hiệu ứng chuyển tiếp với thời gian bắt đầu và kết thúc chậm
      transform-origin: 100% 50%;
    }
  
    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0% 50%;
    }
  } */


.Purchase {
  width: 22%;
  height: 100px;
  /* border: solid 1px black; */
}

.Purchase_c2 {
  width: 10px;
  height: 10px;
  /* border: solid 1px rgb(241, 125, 214); */

  margin-left: 30%;
  width: 60%;
  height: 50%;
  margin-top: 7%;
  background-color: white;

  border-radius: 6px;
  /* box-shadow: ; */
  box-shadow: 2px 9px 20px -12px #888888;
  align-items: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: margin-top 0.8s;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: relative;
}

/* .Purchase_c2:hover {
  margin-top: 6%;


} */


/* .icon_header {
  margin-right: 10px;
  display: none;

  cursor: pointer;
} */

.number_cart {
  background-color: black;
  color: white;
  width: 7%;
  aspect-ratio: 2/2;
  font-size: 9px;

  border-radius: 100%;

  position: absolute;

  text-align: center;
}