.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.ay {
  animation: fade-in-move-down 0.7s;
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* //   */
.imgstranf {
  transform: rotate(-44deg);
  width: 200px;
  height: 100px;
  position: relative;
  /* -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-40);
  -o-transform: rotate(-15deg); */

  /* display: none; */
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

li {
  width: 24%;
}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.colora {
  color: transparent;
  background: -webkit-linear-gradient(right, #ffb87d 5%, #ff3d99 95%);
  /* background: -webkit-gradient(linear,
      right top,
      left top,
      color-stop(5%, #ffb87d),
      color-stop(95%, #ff3d99));
  background: -o-linear-gradient(right, #ffb87d 5%, #ff3d99 95%);
  background: linear-gradient(-90deg, #ffb87d 5%, #ff3d99 95%);
  -webkit-background-clip: text; */
  background-clip: text;
  font-size: 40px;
  font-weight: 800;
  position: absolute;
}

.slide {
  width: 100%;
  aspect-ratio: 22/8;
  /* border: solid 1px black; */


}


.item_slide {
  background-color: #f0e0ff;
  width: 100%;
  aspect-ratio: 22/8;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

.img_slide {
  width: 10%;
  aspect-ratio: 2/2;
  width: 37%;
  animation: img_dow 2s;

}


@keyframes img_dow {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .img_slide::before {
  animation: img_dow 0.5s;
} */



.ul_free_icon {
  width: 70%;
  margin: auto;
}

#free_icon {
  /* display: 'flex'; */
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

.products {
  /* border: solid 1px black; */
  width: 70%;
  margin: auto;

  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;

}

.product {
  width: 10%;
  aspect-ratio: 7/9;
  /* border: solid 1px black; */

  width: 23%;

  margin-bottom: 10px;

  position: relative;
}

.str_product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.mini_add {
  position: absolute;

  font-size: 10px;
  width: 15%;
  aspect-ratio: 11/6;
  /* border: solid 1px black; */
  padding: 1px;
  right: 10px;
  top: 10px;
  border-radius: 4px;
  padding-left: 8px;

  background-color: #fa6bff;

  color: white;

}

.img_product2 {
  /* display: none; */
  width: 10px;
  /* opacity: 0; */
  position: absolute;
}

/* //////////////// */

.hide_mini {
  animation: img_dow2 2s;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* display: none; */
  width: 100%;
  opacity: 0;
  /* transition: width 0.8s; */

  /* background-color: red; */
  /* opacity: 0; */

  animation: img_dow2 0.5s;


}

.img_product2 {
  width: 100%;
  height: 80%;

  overflow: hidden;

}

.img_mini {

  opacity: 0;
  animation: img_dow2 0.5s;

}

.product:hover .img_mini {
  display: flex;
  flex-direction: column;
  opacity: 1;
  /* width: 1000px; */
  /* transition: width 0.8s; */
  animation: img_dow22 0.5s;

}

.product:hover .hide_mini {

  opacity: 1;
  /* width: 1000px; */
  /* transition: width 0.8s; */
  animation: img_dow22 0.5s;

}

/* .product:hover .img_product {
  display: none;

} */

@keyframes img_dow2 {
  0% {
    opacity: 1;
    /* transform: translateY(0rem); */

    /* transform: translate(100px, 0px) */

    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}






@keyframes img_dow22 {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes img_dow222 {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




.hide_mini2 {
  color: white;
  width: 76%;
  text-align: center;
  border-left: solid 1px white;
  border-right: solid 1px white;

}

.hide_mini3 {
  padding-left: 8px;
}

.hide_mini1 {
  padding-left: 8px;
}

.hide_mini3:hover {
  background-color: black;
}

.hide_mini2:hover {
  background-color: black;
}

.hide_mini1:hover {
  background-color: black;
}


.icon_free:hover {
  /* animation: s 2s; */
  animation: s 0.5s;
}

@keyframes s {
  0% {
    /* transform: scale(1.1, 1.1); */
    transform: rotate(10deg);
  }

  10% {
    /* transform: scale(1.5, 1.5); */
    transform: rotate(-10deg);
  }

  20% {
    /* transform: scale(1.5, 1.5); */
    transform: rotate(10deg);
  }

  30% {
    /* transform: scale(1.5, 1.5); */
    transform: rotate(-10deg);

  }

  40% {
    transform: rotate(10deg);
    /* transform: scale(1.5, 1.5); */
  }

  50% {
    transform: rotate(-10deg);

    /* transform: scale(1.5, 1.5); */

  }

  60% {
    transform: rotate(10deg);

    /* transform: scale(1.5, 1.5); */

  }

  70% {

    transform: rotate(-10deg);

    /* transform: scale(1.5, 1.5); */

  }

  80% {
    transform: rotate(10deg);

    /* transform: scale(1.5, 1.5); */


  }

  50% {

    /* transform: scale(1.1, 1.1); */
    transform: rotate(-10deg);

  }

  100% {
    /* opacity: 1; */

    /* transform: scale(1.1, 1.1); */
    /* transform: rotate(10deg); */

  }
}

.OUR_BLOG {
  width: 71%;
  /* border: solid 1px black; */
  margin: auto;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.out_blog_c1 {
  /* border: solid 1px black; */
  aspect-ratio: 20/4;
  width: 29%;
  aspect-ratio: 2/2;
}

.out_blog_c2_1 {
  aspect-ratio: 3/2;
  border: solid 1px #c2c2ff;

  overflow: hidden;

}

.out_blog_c2_2 {
  /* border: solid 1px purple; */
  width: 85%;
  aspect-ratio: 15/5;
  margin: auto;
  position: relative;
  top: -52px;

  background-color: white;


  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.img_out_blog {
  width: 100%;
  height: 100%;

  transition: transform 0.4s;
}

.img_out_blog:hover {
  /* width: 110%;
  height: 110%; */

  /* transition: scale(2, 2) 0.8s; */

  transform: scale(1.2, 1.2);
}

.patch_product {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #f7f7f7;
  height: 90px;

  justify-content: center;
}

.list-group-item.active {
  background-color: white;
  color: black;
  border: none;
  border-bottom: solid 1px black;
}

.swipe {
  /* overflow: auto; */
  /* display: flex; */
  /* white-space: nowrap; */
  /* padding-left: 10px; */

  overflow: hidden;
  display: flex;

}

.muntil_img_slide {
  width: 24%;
  aspect-ratio: 2/2;
  margin: 4px;

  /* position: relative; */
  /* left: 0; */

  margin-left: 0;
  transition: margin-left 1s;

}

.button_slide {

  border: none;

  position: relative;
  top: 11%;

}

.zoom {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

}

.img_zoom {

  width: 24%;
  margin-top: 5%;
  /* margin-left: 40%; */
}

.no_wishlish {
  aspect-ratio: 45/8;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.body_lish_item {
  /* display: flex; */
  width: 52%;
  margin: auto;

}


.th_panding {
  padding: 21px 45px 22px 5px;

  font-size: 10px;
}

.button_number {
  border: none;
}

.input_number {
  width: 25%;
  border: none;
}